[submodule "3rdparty/nvm.git"]
	path = 3rdparty/nvm.git
	url = https://github.com/creationix/nvm.git
[submodule "apps/vim/bundle/vundle"]
	path = apps/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
